.page-animations-enabled .main-content.ng-enter {
  -webkit-animation: enter linear 0.9s;
  animation: enter linear 0.9s;
}

.page-animations-enabled .main-content.ng-leave {
  -webkit-animation: enter linear 0.5s reverse;
  animation: enter linear 0.5s reverse;
}

@-webkit-keyframes enter {
  0% {
    top: -100%;
      opacity: 0.2;
  }
  20% {
      top: -50%;
      opacity: 0.3;
  }
  40% {
      top: -30%;
      opacity: 0.4;
  }
  50% {
      top: -15%;
      opacity: 0.5;
  }
  60% {
      top: 0;
      opacity: 0.6;
  }
  70% {
      top: 15%;
      opacity: 0.7;
  }
  80% {
      top: 30%;
      opacity: 0.8;
  }
  90% {
      top: 15%;
      opacity: 0.9;
  }
  100% {
    top: 0;
      opacity: 1;
  }
}

@keyframes enter {
   0% {
    top: -100%;
      opacity: 0.2;
  }
  20% {
      top: -70%;
      opacity: 0.3;
  }
  40% {
      top: -50%;
      opacity: 0.4;
  }
  50% {
      top: 0;
      opacity: 0.5;
  }
  60% {
      top: 10%;
      opacity: 0.6;
  }
  80% {
      top: 20%;
      opacity: 0.7;
  }
  100% {
    top: 0;
      opacity: 1;
  }
}

.credit_row {
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
}

.c_cell div {
    width: 100%;
}
.swipe-animations-enabled .next-animation .c_cell div{
    position: relative;  
    -webkit-animation: left linear 0.5s;
    animation: left linear 0.5s;
}

.swipe-animations-enabled .previous-animation  .c_cell div{
    position: relative;  
    -webkit-animation: right linear 0.5s;
    animation: right linear 0.5s;
}

@-webkit-keyframes left {
  0% {
    left: 10%;
  }
  10% {
      left: 20%;
  }
  20% {
      left: 30%;
  }
  30% {
      left: 40%;
  }
  40% {
      left: 50%;
  }
  50% {
      left: 60%;
  }
  60% {
      left: 70%;
  }
  70% {
      left: 80%;
  }
  80% {
      left: 90%;
  }
  90% {
      left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes left {
   0% {
    left: 10%;
  }
  10% {
      left: 20%;
  }
  20% {
      left: 30%;
  }
  30% {
      left: 40%;
  }
  40% {
      left: 50%;
  }
  50% {
      left: 60%;
  }
  60% {
      left: 70%;
  }
  70% {
      left: 80%;
  }
  80% {
      left: 90%;
  }
  90% {
      left: 100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes right {
  0% {
    left: -10%;
  }
  10% {
      left: -20%;
  }
  20% {
      left: -30%;
  }
  30% {
      left: -40%;
  }
  40% {
      left: -50%;
  }
  50% {
      left: -60%;
  }
  60% {
      left: -70%;
  }
  70% {
      left: -80%;
  }
  80% {
      left: -90%;
  }
  90% {
      left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes right {
  0% {
    right: -100%;
    text-align: left;
  }
  10% {
      right: -90%;
  }
  20% {
      right: -80%;
  }
  30% {
      right: -70%;
  }
  40% {
      right: -60%;
  }
  50% {
      right: -50%;
  }
  60% {
      right: -40%;
  }
  70% {
      right: -30%;
  }
  80% {
      right: -20%;
  }
  90% {
      right: -10%;
  }
  100% {
    right: 0;
    text-align: right;
  }
}
