<div class="home_container">
    <div class="credits_container">
        <div class="credits">
            <div class="title">{{"NextCredits"|l10n}}</div>
            <div class="creditValue next">{{selectedAccount.totalNextCredit|intCurrency:"₪"}}</div>
            <div class="expand_collapse" ng-class="{'expanded':nextCreditExpanded, 'collapsed': !nextCreditExpanded}" ng-click="toggleExpand('next')"></div>
            <div class="account-details" ng-show="nextCreditExpanded">
                <table>
                    <tbody>
                        <tr ng-repeat="credit in selectedAccount.nextCredits">
                            <td>{{credit.date|date:"dd/MM/yy"}}</td>
                            <td>{{credit.day}}</td>
                            <td>{{credit.amount|intCurrency:"₪"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="credits">
            <div class="title">{{selectedAccount.previousCreditsCount|previousCredits}}</div>
            <div class="creditValue previous">{{selectedAccount.totalPreviousCredit|intCurrency:"₪"}}</div>
            <div class="expand_collapse" ng-class="{'expanded':nextCreditExpanded, 'collapsed': !nextCreditExpanded}" ng-click="toggleExpand('previous')"></div>
            <div class="account-details" ng-show="previousCreditExpanded">
                <table>
                    <tbody>
                        <tr ng-repeat="credit in selectedAccount.previousCredits">
                            <td>{{credit.date|date:"dd/MM/yy"}}</td>
                            <td>{{credit.day}}</td>
                            <td>{{credit.amount|currency:"₪"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="account_container">
        <div class="selected_account">
            <div class="account_nav previous" ng-click="previousAccount()"></div>
            <div class="title">
                {{selectedAccount|accountDescription}}
                <div class="accounts">
                    <ul>
                        <li ng-repeat="account in accounts"><a href="#" prevent-default ng-click="selectAccount($index)"></a></li>
                    </ul>
                </div>
            </div>
            <div class="account_nav next" ng-click="nextAccount()"></div>
        </div>


    </div>
</div>