<div class="details_container" >
    <div class="credits" ng-swipe-left="previousAccount()" ng-swipe-right="nextAccount()">
        <div class="credit_table">
            <div class="credit_row" ng-class="{ 'collapsed': nextCreditExpanded || previousCreditExpanded}">
                <div class="c_credit" ng-hide="nextCreditExpanded">
                    <div class="c_row">
                        <div class="c_cell">
                            <div class="title">{{"NextCredits"|l10n}}</div>
                            <div class="creditValue next">{{selectedAccount.totalNextCredit|intCurrency:""}}</div>
                        </div>
                    </div>
                </div>
                <div class="expand_collapse" ng-hide="nextCreditExpanded" ng-class="{'expanded':nextCreditExpanded, 'collapsed': !nextCreditExpanded}" ng-click="toggleExpand('next')"></div>
                <div class="account-details" ng-show="nextCreditExpanded">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3" class="caption">{{"NextCredits"|l10n}}</th>
                                <th rowspan="2">
                                    <div class="expand_collapse" ng-class="{'expanded':nextCreditExpanded, 'collapsed': !nextCreditExpanded}" ng-click="toggleExpand('next')"></div>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">{{"CreditDate"|l10n}}</th>
                                <th>{{"CreditAmount"|l10n}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="credit in selectedAccount.nextCredits">
                                <td>{{credit.date|date:"dd/MM/yy"}}</td>
                                <td>{{credit.day}}</td>
                                <td colspan="2" class="creditValue">{{credit.amount|intCurrency:""}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="credit_row" ng-class="{ 'collapsed': nextCreditExpanded || previousCreditExpanded}">
                <div class="c_credit" ng-hide="previousCreditExpanded">
                    <div class="c_row">
                        <div class="c_cell">
                            <div class="title">{{selectedAccount.previousCreditsCount|previousCredits}}</div>
                            <div class="creditValue previous">{{selectedAccount.totalPreviousCredit|intCurrency:""}}</div>
                        </div>
                    </div>
                </div>
                <div class="expand_collapse" ng-hide="previousCreditExpanded" ng-class="{'expanded':previousCreditExpanded, 'collapsed': !previousCreditExpanded}" ng-click="toggleExpand('previous')"></div>
                <div class="account-details" ng-show="previousCreditExpanded">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3" class="caption">{{selectedAccount.previousCreditsCount|previousCredits}}</th>
                                <th rowspan="2">
                                    <div class="expand_collapse" ng-class="{'expanded':previousCreditExpanded, 'collapsed': !previousCreditExpanded}" ng-click="toggleExpand('previous')"></div>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">{{"CreditDate"|l10n}}</th>
                                <th>{{"CreditAmount"|l10n}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="credit in selectedAccount.previousCredits">
                                <td>{{credit.date|date:"dd/MM/yy"}}</td>
                                <td>{{credit.day}}</td>
                                <td colspan="2" class="creditValue">{{credit.amount|intCurrency:""}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--ng-swipe-left="prevCard()" ng-swipe-right="nextCard()"-->
    <div class="account_container">
        <div class="selected_account">
            <div class="account_nav previous" ng-click="previousAccount()"></div>
            <div class="title" >
                <div><span class="small-title">{{"AccountNumber"|l10n}}</span> {{selectedAccount|accountDescription}}</div>
                <div class="accounts">
                    <ul>
                        <li ng-repeat="account in accounts" ng-class="{'selected':$index==selectedAccountIndex}"><a href="#" prevent-default ng-click="selectAccount($index)"></a></li>
                    </ul>
                </div>
            </div>
            <div class="account_nav next" ng-click="nextAccount()"></div>
        </div>


    </div>
</div>