<div class="home_container">
    <div class="credits">
        <div class="credit_table">
            <div class="credit_row">
                <div class="c_credit">
                    <div class="c_row">
                        <div class="c_cell">
                            <div>
                                <div class="title next">האם ההרשמה הצליחה: </div>
                                <input ng-model="isPNRegistrationSucceeded"></input>
                            </div>
                        </div>
                    </div>
                    <div class="c_row">
                        <div class="c_cell">
                                <div class="title next">מזהה רישום: </div>
                                <input style="width:99%" ng-model="registrationID"></input>
                        </div>
                    </div>   
                    <div>
                        <a href="window.open('arnkenvlp://', '_system')">Launchy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
