<div class="home_container">
    <div class="credits">
        <div class="credit_table">
            <div class="credit_row">
                <div class="c_credit">
                    <div class="c_row">
                        <div class="c_cell">
                            <div>
                                <div class="title next">{{"NextCredit"|l10n}}</div>
                                <div class="date next">{{nextCreditDate|date:"dd/MM/yy"}}</div>
                            </div>

                        </div>
                        <div class="c_cell">
                            <div class="creditValue next" ng-show="nextCreditAmount">{{nextCreditAmount|intCurrency:"" }}</div>
                            <div class="creditValue next empty" ng-hide="nextCreditAmount">{{"NoAmount"|l10n }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="credit_row">
                <div class="c_credit">
                    <div class="c_row">
                        <div class="c_cell">
                            <div>
                                <div class="title previous">{{"PreviousCredit"|l10n}}</div>
                                <div class="date previous">{{previousCreditDate|date:"dd/MM/yy"}}</div>
                            </div>
                        </div>
                        <div class="c_cell">
                            <div class="creditValue previous" ng-show="previousCreditAmount">{{previousCreditAmount |intCurrency:""}}</div>
                            <div class="creditValue previous empty" ng-hide="previousCreditAmount">{{"NoAmount"|l10n }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="balance_container">
        <div class=" balance">
            <div class="right">
                <div class="title">{{"TotalBalance"|l10n}}</div>
                <div class="creditValue" ng-show="totalBalance">{{totalBalance|intCurrency:""}}</div>
                <div class="creditValue empty" ng-hide="totalBalance">{{"NoAmount"|l10n }}</div>

            </div>
            <div class="left">
                <div class="title">{{"BalanceValueDate"|l10n}}</div>
                <div class="date">{{balanceValueDate|date:"dd/MM/yy"}}</div>
            </div>
            <div class="comment">{{"BalanceComment"|l10n}}</div>
        </div>

        <div class="inner-button">
            <button ng-click="gotoAccountDetails()" ng-disabled="!loaded || noActiveAccounts">{{"GoToAccountDetails"|l10n}}</button>
        </div>
        <div class="lastLoginInfo">
            <span>שלום </span><span class="customer-name">{{ accountOwnerName }}</span>
        </div><div class="lastLoginInfo"><span>כניסתך האחרונה בוצעה בתאריך </span><span>{{ lastLoginDate }}</span></div>
    </div>
</div>