
<div class="login-box">
    <form name="Login" ng-submit="login()">
        <div class="center">
            <input type="text" name="userName" ng-model="Username" placeholder="{{ 'Username' | l10n }}" required="required" maxlength="200" />
        </div>
        <div class="center">
            <input type="password" name="password" ng-model="Password" placeholder="{{ 'Password' | l10n }}" required="required" maxlength="20" />
        </div>
        <div class="center">
            <a href="#" class="forgot_password" ng-click="forgotPassword()">{{ 'ForgotPassword' | l10n }}</a>
        </div>
        <div class="center">
            <div class="message alert alert-error " ng-show="loginError">
                {{ loginError | l10n }}
            </div>

        </div>
        <div class="inner-button">
            <button type="submit" ng-disabled="Login.$invalid">{{ "Login"|l10n}}</button>
        </div>
    </form>
</div>


