
<div class="login-box">
    <form name="Login" ng-submit="login()">
        <div>
            <input type="text" name="userName" ng-model="Username" placeholder="{{ 'Username' | l10n }}" required="required" maxlength="200" />
        </div>
        <div>
            <input type="password" name="password" ng-model="Password" placeholder="{{ 'Password' | l10n }}" required="required" maxlength="20" />
        </div>
        <p class="message" ng-show="loginError">{{ loginError | l10n }}</p>
        <div>
            <a href="#" ng-click="forgotPassword()">{{ 'ForgotPassword' | l10n }}</a>
        </div>
        <div class="controls">
            <button class="button large-button" type="submit" ng-disabled="Login.$invalid">{{ "Login"|l10n}}</button>
        </div>
    </form>

    <footer>
        <button type="button" ng-click="navigateToCustomerService()">Cust SVC</button>
    </footer>
</div>