<div class="info">
    <p><b>יציל</b> מיישמת באפליקציה אמצעים מתקדמים לאבטחת פעילותך ולשמירה על פרטיות, סודיות הנתונים והמידע העומדים לרשותך.</p>
    <h3>עיקר האמצעים:</h3>
    <p>
        <ol>
            <li>הזדהות למערכת - הכניסה למערכת אפשרית באמצעות שם משתמש וסיסמא אישית.</li>
            <li>מניעת כניסה לאחר מספר ניסיונות שגויים – נעילת חשבונך לכניסה לאחר חמישה ניסיונות כניסה שגויים, על מנת למנוע מפורצים לחדור אל חשבונך.</li>
            <li>ניתוק אוטומטי במצב של אי פעילות - במצב בו המערכת פעילה, אך לא מתבצעת בה פעילות במשך 10 דקות, המערכת תנותק באופן אוטומטי.</li>
            <li>רכיבי הגנה פיקוח ובקרה – מגוון רכיבי אבטחה ברמת התקשורת והאפליקציה, מאפשרים בקרה , זיהוי וסינון של ההתקשרות לאתר.</li>
            <li>לוג פעילות - שמירת פירוט האירועים של משתמשי המערכת.</li>
            <li>בדיקות אבטחת מידע - מתבצעות בדיקות תדירות ומחמירות של המערכת ורכיביה, על ידי  גורמים מומחים.</li>
            <li>העברת המידע בין מחשבי החברה לSmartphone , דרך רשת האינטרנט, מתבצעת בתקשורת מוצפנת (SSL 128bit), ע"י שימוש בתעודה דיגיטלית מאובטחת של חברת  VeriSign.</li>

        </ol>
    </p>
    <h3>כללים לגלישה בטוחה:</h3>
    <p>
        הצלחת פעילותך ושמירת סודיות נתוניך תלויה גם בנקיטת מספר צעדים בסיסיים מצדך כמשתמש.
        <ol>
            <li>יש להשתמש במכשיר המופעל לפי הוראות הספק ולא נפרץ.</li>
            <li>יש להשתמש רק באפליקציה התקנית שמקורה ב- AppStore או ב Google play . בעת הורדת האפליקציה יש לשים לב ששמה הוא: <b>יציל</b> המופצת ע"י חברת יציל Cal.</li>
            <li>תאריך ההתקשרות האחרונה שלכם המופיעים בכניסה. בדוק אותו.</li>
            <li>סיסמת הכניסה למערכת הנה אישית וסודית, ואין למסורה לאיש. בשום מקרה לא תתבקשו באופן יזום ע"י חברת יציל לנקוב בסיסמתכם האישית בטלפון, או להעבירה לגורם כלשהו בדוא"ל. אם תוצג בקשה כזו - סרבו.</li>
            <li>אין לשמור את פרטי הזיהוי האישיים במחשב או ב- Smartphone, מחשש לחשיפתם על ידי וירוסים, או מחשש לגניבת המכשיר.</li>
            <li>מומלץ להשתמש באנטי וירוס לסמארטפון במידה ומתאים לדגם.</li>
            <li>בבחירת סיסמא הגדירו סיסמה איכותית. אין לבחור בסיסמאות פשוטות כגון תאריכי לידה, שם בן הזוג וכדומה.</li>
            <li>אם מתעורר חשד כלשהו (תופעות מוזרות, תגובות לא רגילות) בקשר לכל שלב בתהליך ההצטרפות או השימוש באפליקציה, יש להודיע מיד למוקד בנקאות ישירה 03-5726655, ולפעול בהמשך לפי הנחיותיו.</li>

        </ol>
        <b>הבהרה:</b>

        מערכות האבטחה, הארכיטקטורה והנהלים שיושמו במוצר זה מצמצמים את הסיכונים לחדירה בלתי-מורשית או לזליגת מידע, אין הם מעניקים בטחון מוחלט.

    <p></p>
</div>