<footer ng-show="isLoggedIn && !hideFooter">
    <button type="button" ng-click="navigateToHome()" class="i i-home"></button>
    <button type="button" ng-click="navigateToAccount()" class="i i-account"></button>
    <button type="button" ng-click="navigateToCustomerService()" class="i i-customer-service"></button>
    <button type="button" ng-click="navigateToMoreInfo()" class="i i-more-info"></button>
</footer>

<div class="center dock_bottom" ng-show="hideFooter">
    <button type="button" class="customer_service_button i i-customer-service" ng-click="navigateToCustomerService()"></button>
</div>