<footer ng-show="isLoggedIn && !hideFooter">
    <button type="button" ng-click="navigateToHome()">Home</button>
    <button type="button" ng-click="navigateToAccount()">Account</button>
    <button type="button" ng-click="navigateToCustomerService()">Cust SVC</button>
    <button type="button" ng-click="navigateToMoreInfo()">More</button>
</footer>

<div class="center dock_bottom" ng-show="hideFooter">
    <button type="button" class="customer_service_button" ng-click="navigateToCustomerService()">Cust SVC</button>
</div>